/*Base styles for the site*/
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff7f50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

h1 {
    font-size: 2em;
}

p {
    margin-top: 10px;
}

#home h1 {
    color: #4CAF50; /* or any color you prefer */
    text-align: center;
    margin-bottom: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#facebook {
    color: #2f00c9;
    text-align: center;
    padding: 20px;
}

.facebook-image {
    width: 50%; /* Adjust as needed */
    margin-top: 10px;
    border-radius: 8px; /* Optional: for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: for a subtle shadow */
    transition: transform 0.3s ease; /* Optional: for a smooth zoom effect on hover */
}

.facebook-image:hover {
    transform: scale(1.05); /* Optional: zoom effect on hover */
}